name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  release:
    uses: jarero321/shared-workflows/.github/workflows/release-and-publish.yml@main
    permissions:
      contents: write
    with:
      package-manager: 'bun'
      build-command: 'bun run build'
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
