name: Release

on:
  push:
    branches: [main]

permissions:
  contents: write

jobs:
  release:
    uses: jarero321/shared-workflows/.github/workflows/auto-release.yml@main
    permissions:
      contents: write
